{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TeamsBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teamsbook.">
    <meta name="author" content="Thomas Park">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/bootswatch.css" rel="stylesheet">

  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">


  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="{% url "home" %}">TeamsBook</a>
       <div class="nav-collapse">
                     <ul class="nav">
                        <li><a href="{% url "my_profile" %}">Profil</a></li>
                        <li><a href="{% url "inbox" %}">Mesajlar</a></li>
                     </ul>
                 {% if user.is_authenticated %}
                     <ul class="nav pull-right">
                         <li><a href="{% url "logout" %}">Çıkış</a></li>
                       </ul>
                 {% else %}
                     <ul class="nav pull-right">
                         <li><a href="{% url "login" %}">Giriş</a></li>
                       </ul>
                 {% endif %}
                 </div><!-- /.nav-collapse -->
     </div>
   </div>
 </div>

    <div class="container">


<!-- Masthead
================================================== -->

      <div class="row-fluid">
        <div class="span4">
                <div class="thumbnail">
                  {% if profile.photo %}
                  <img data-src="holder.js/600x350" alt="" src="{{ profile.photo.url }}">
                  {% else %}
                  <img data-src="holder.js/600x350" alt="">
                  {% endif %}
                  <div class="caption">
                    <h3>{{ profile.name }} {{ profile.last_name }}</h3>

                    {% if profile.location %}
                    <i class="icon-map-marker"></i> {{ profile.location }}
                    {% endif %}
                    <br />
                    {% if profile.team %}
                    <h4>{{ profile.get_team_display }}</h4>
                    {% endif %}
                    {% if profile.date_of_birth %}
                    {{ profile.date_of_birth }}
                    {% endif %}
                    <br />
                    <br />
                    <br />
                    <div class="control-group">
                      <div class="controls">
                        <a class="btn btn-inverse btn-small" href=""> Profili Düzenle &raquo;</a>
                      </div>
                    </div>
                  </div>
                </div>
        </div><!--/span-->
        <div class="span8">
        {% if messages %}
          <div class="alert alert-info">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#text" data-toggle="tab"><i class="icon-pencil icon-white"></i> Yazı</a></li>
              <li><a href="#photo" data-toggle="tab"><i class="icon-picture icon-white"></i> Fotoğraf</a></li>
              <li><a href="#link" data-toggle="tab"><i class="icon-signal icon-white"></i> Link</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="text">
                  <form class="well" method="POST" action=".">
                    {% csrf_token %}
                    <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
                    <button class="btn btn-primary" type="submit">Gönder</button>
                  </form>
                </div>
                <div class="tab-pane" id="photo">
                  <form class="well" method="POST" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
                    <p><label for="id_image">Fotoğraf:</label>
                    {{ photo_message_form.image }}</p>
                    <button class="btn btn-primary" type="submit">Gönder</button>
                  </form>
                </div>
                <div class="tab-pane" id="link">
                  <form class="well" method="POST" action=".">
                    {% csrf_token %}
                    <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
                    <p><label for="id_url">Link:</label>
                    {{ link_message_form.url }}</p>
                    <button class="btn btn-primary" type="submit">Gönder</button>
                  </form>
                </div>
            </div>
          </div>
        {% for feed in profile_feeds %}
          {% if feed.image %}
              <div class="row-fluid">
                <ul class="thumbnails well">
                  <li class="span3">
                    <a class="thumbnail">
                      <img src="{{ feed.image.url }}" alt="">
                    </a>
                  </li>
                  <li class="span3">
                    <p>{{ feed.message }}</p>
                  </li>
                </ul>
              </div>
          {% elif feed.url %}
              <p class="well">{{ feed.message }}<br /><a href="{{ feed.url }}">Linke git &raquo;</a></p>
          {% else %}
              <p class="well">{{ feed.message }}</p>
          {% endif %}
        {% endfor %}

        </div><!--/span-->
      </div><!--/row-->


     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
      </footer>

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/jquery.smooth-scroll.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="/static/js/bootswatch.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/holder.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/backbone.min.js"></script>
    <script src="/static/js/prettify.min.js"></script>
    <script src="/static/js/bootstrap-222.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
    $(document).ready(function(){
        $(document).scroll(function(){
            // If has not activated (has no attribute "data-top"
            if (!$('.subnav').attr('data-top')) {
                // If already fixed, then do nothing
                if ($('.subnav').hasClass('subnav-fixed')) return;
                // Remember top position
                var offset = $('.subnav').offset()
                $('.subnav').attr('data-top', offset.top);
            }

            if ($('.subnav').attr('data-top') - $('.subnav').outerHeight() <= $(this).scrollTop())
                $('.subnav').addClass('subnav-fixed');
            else
                $('.subnav').removeClass('subnav-fixed');
        });
    });
    </script>
  </body>
</html>
