{% extends "base.html" %}
{% block title %}Sisteme üye oldunuz.{% endblock %}
{% block content %}
<style type="text/css">
h2 {margin:0; padding:0 0 15px 0; font:18px/40px Arial, serif;}
h2:before {content:'';float:left;width:40px;height:40px;background:url('{{ STATIC_URL }}img/affirmative.png') no-repeat;margin-right:15px;}
</style>
<div class="grid9 main cover eventDetails">
    <div class="grid5 first">
        <div class="padding">
            <h2>Üyeliğiniz aktif artık giriş yapabilirsiniz!</h2>
        </div>
    </div>
</div>
{% endblock %}
