{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<script>
    window.location=getURL('/');
</script>
{% else %}
<div class="grid9 auth">
    <div class="padding">
	<h2>Kullanıcı Girişi</h2>
	{% if form.errors %}
	<div class="alert alert-error">
	    <button class="close" data-dismiss="alert">×</button>
	    <strong>:(</strong> Kullanıcı adı ya da parolanız hatalı. Lütfen tekrar deneyin.
	</div>
    {% else %}
        {% load flashmessage %}
        {% flashmessage %}
	{% endif %}
	<div class="grid4 first">
		<form method="post" action="{% url user_login %}">
		{% csrf_token %}
        {{ form.as_p }}
        <div class="control-group">
        	<a href={% url password_reset %}>Parolanı mı unuttun?</a>
         	<button type="submit" class="btn">Giriş Yap</button>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	 	</div>
		<!--<div class="grid4 login_fb curved">
		<ul>
            <li class="facebook"><a href="{% url socialauth_begin 'facebook' %}">Facebook ile giriş yap</a></li>
            <li class="twitter"><a  href="{% url socialauth_begin 'twitter' %}">Twitter ile giriş yap</a></li>
            <li class="linkedin"><a  href="{% url socialauth_begin 'linkedin' %}">Linkedin ile giriş yap</a></li>
        </ul>
		</div>-->
	</div>
</div>
{% endif %}
{% endblock %}
