{% extends "base.html" %}

{% block content %}
<div class="grid9 auth">
{% if validlink %}
<p>Lütfen yeni parolanızı oluşturmak için iki kez giriniz.</p>
	<div class="grid4 first">
        <div class="padding">
            <h2>Parolanı Değiştir</h2>
            <form action="" method="post">
              {% csrf_token %}
              <table>
                {{ form.as_p }}
              </table>
              <input type="submit" class="btn" value="Parolamı sıfırla" />
            </form>
{% else %}
<h1>Parolanız sıfırlanamadı.</h1>
<p>Bu adres geçersiz, büyük olasılıkla daha önceden kullanılmış. Lütfen parolanızı sıfırlamak için yeni bir istekte bulununuz.</p>
{% endif %}
        </div>
	</div>
</div>
{% endblock %}