{% extends "base.html" %}

{% block content %}
<div class="grid9 auth">
	{% if form.errors %}
	<div class="alert alert-error">
	    <button class="close" data-dismiss="alert">×</button>
	    <strong>:(</strong> Parolanız sıfırlanamadı. Lütfen tekrar deneyin.
	</div>
	{% endif %}
	<div class="grid4 first">
        <div class="padding">
            <h2>Parolanı Değiştir</h2>
    		<form method="post" action="{% url password_reset %}">
    		{% csrf_token %}
    			<table>
                    {{ form.as_p }}
                </table>
    		    <div class="control-group">
    		    	<button type="submit" class="btn">Parolayı Sıfırla</button>
    		    </div>
    		<input type="hidden" name="next" value="{{ next }}" />
    		</form>
        </div>
	</div>
</div>
{% endblock %}