{% extends "base.html" %}
{% block title %}Parolanız sıfırlandı{% endblock %}
{% block content %}
<style type="text/css">
h2 {margin:0; padding:0 0 15px 0; font:18px/40px Arial, serif;}
h2:before {content:'';float:left;width:40px;height:40px;background:url('{{ STATIC_URL }}img/icon_payment.png') no-repeat;margin-right:15px;}
</style>
<div class="grid9 main cover eventDetails">
    <div class="grid5 first">
        <div class="padding">
            <h2>Parola sıfırlama maili gönderildi. Lütfen mailinizi kontrol ediniz!</h2>
            <script>
            setTimeout("window.location=getURL('{% url user_login %}')", 3000);
            </script>
        </div>
    </div>
</div>
{% endblock %}