{% extends "base.html" %}
{% block title %}Aktivasyon maili{% endblock %}
{% block content %}
<style type="text/css">
h2 {margin:0; padding:0 0 15px 0; font:18px/40px Arial, serif;}
h2:before {content:'';float:left;width:40px;height:40px;background:url('{{ STATIC_URL }}img/icon_payment.png') no-repeat;margin-right:15px;}
</style>
<div class="grid9 main cover eventDetails">
    <div class="grid5 first">
        <div class="padding">
            <h2>Aktivasyon maili gönderildi. Sisteme üye olmak için bir adım daha, mailinizi kontrol ediniz.</h2>
        </div>
    </div>
</div>
{% endblock %}
