{% extends "base.html" %}

{% block content %}
<div class="grid9 auth">
    <div class="padding">
	<h2>Kayıt Ol</h2>
	{% if form.errors %}
	<div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <strong>:(</strong> Kayıt işleminiz sırasında bir hata oluştu. Lütfen tekrar deneyin.
    </div>
	{{ form.non_field_errors }}
	{% endif %}

	<div style="float: left; margin-top: 20px;">
		<div class="grid4 first">
		<form method="post" action="{% url 'registration_register' %}" id="registrationForm">
		{% csrf_token %}
        <table>
                  {{ form.as_table }}
        </table>
        <div class="control-group">
                <br/><br/>
		    	<button type="submit" class="btn btn-primary">Kabul et ve kayıt ol</button>
	    </div>
		</form>
	   </div>
	</div>
	</div>
</div>
{% endblock %}
