# SOCIAL AUTH BUTTONS

<div class="grid3 login_fb">
            <ul>
              <li class="facebook"><a href="{% url 'socialauth_begin' 'facebook' %}">Facebook ile kayıt ol</a></li>
              <li class="twitter"><a  href="{% url 'socialauth_begin' 'twitter' %}">Twitter ile kayıt ol</a></li></div>

# KULLANIM ŞARTLARI ICIN ORNEK

       <div class="grid4" style="margin-top:20px;">
        <h3 style="margin-left:23px;margin-bottom:0;">Kullanım Şartları</h3>
            <div style="height:300px;overflow-y:scroll;font-size:82%;">
            {% include "tos.html" %}
            </div>
        </div>
