{% extends "base.html" %}

{% block title %}Mesajlar | {{ conversation_user.name }} {{ conversation_user.last_name }}{% endblock %}

{% block content %}
<ul class="media-list">
{% for message in conversation %}
  <li class="media">
    {% if message.is_sent %}
    <a class="pull-left"%}>
      <img class="media-object" {% if user.photo %}alt="64x64" style="width: 64px; height: 64px;" src={{ user.photo.url }}{% else %}data-src="holder.js/64x64"{% endif %}>
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ user.name }} {{ user.last_name }}</h4>
        {{ message.message }}
    </div>
    {% else %}
    <a class="pull-left"%}>
      <img class="media-object" {% if conversation_user.photo %}alt="64x64" style="width: 64px; height: 64px;" src={{ conversation_user.photo.url }}{% else %}data-src="holder.js/64x64"{% endif %}>
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ conversation_user.name }} {{ conversation_user.last_name }}</h4>
        {{ message.message }}
    </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
<form class="well" method="POST" action=".">
  {% csrf_token %}
  <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
  <br>
  <button class="btn btn-primary" type="submit">Gönder</button>
</form>
{% endblock %}
