{% extends "base.html" %}

{% block title %}Mesajlar {% endblock %}

{% block content %}
<ul class="media-list">
{% for conversation in conversations %}
  <li class="media">
    <a class="pull-left" href={% url "conversation" conversation.sender.id %}>
      <img class="media-object" {% if conversation.sender.photo %}alt="64x64" style="width: 64px; height: 64px;" src={{ conversation.sender.photo.url }}{% else %}data-src="holder.js/64x64"{% endif %}>
    </a>
    <div class="media-body">
      <h4 class="media-heading">{{ conversation.sender.name }} {{ conversation.sender.last_name }}</h4>
        {{ conversation.last_message }}
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}
