{% extends "base.html" %}


{% block title %}Arkadaşlar{% endblock %}

{% block content %}
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#text" data-toggle="tab"><i class="icon-pencil icon-white"></i> Yazı</a></li>
              <li><a href="#photo" data-toggle="tab"><i class="icon-picture icon-white"></i> Fotoğraf</a></li>
              <li><a href="#link" data-toggle="tab"><i class="icon-signal icon-white"></i> Link</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="text">
                  <form class="well" method="POST" action=".">
                    {% csrf_token %}
                    <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
                    <button class="btn btn-primary" type="submit">Gönder</button>
                  </form>
                </div>
                <div class="tab-pane" id="photo">
                  <form class="well" method="POST" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
                    <p><label for="id_image">Fotoğraf:</label>
                    {{ photo_message_form.image }}</p>
                    <button class="btn btn-primary" type="submit">Gönder</button>
                  </form>
                </div>
                <div class="tab-pane" id="link">
                  <form class="well" method="POST" action=".">
                    {% csrf_token %}
                    <p><label for="id_message">Mesaj:</label> <textarea class="input-xxlarge" cols="30" id="id_message" name="message" rows="10"></textarea></p>
                    <p><label for="id_url">Link:</label>
                    {{ link_message_form.url }}</p>
                    <button class="btn btn-primary" type="submit">Gönder</button>
                  </form>
                </div>
            </div>
          </div>
        {% for feed in profile_feeds %}
          {% if feed.image %}
              <div class="row-fluid">
                <ul class="thumbnails well">
                  <li class="span3">
                    <a class="thumbnail">
                      <img src="{{ feed.image.url }}" alt="">
                    </a>
                  </li>
                  <li class="span3">
                    <p>{{ feed.message }}</p>
                  </li>
                </ul>
              </div>
          {% elif feed.url %}
              <p class="well">{{ feed.message }}<br /><a href="{{ feed.url }}">Linke git &raquo;</a></p>
          {% else %}
              <p class="well">{{ feed.message }}</p>
          {% endif %}
        {% endfor %}
{% endblock %}
