{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TeamsBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Teamsbook.">
    <meta name="author" content="Thomas Park">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/bootswatch.css" rel="stylesheet">

  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">


  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="{% url "home" %}">TeamsBook</a>
       <div class="nav-collapse">
                     <ul class="nav">
                        <li><a href="{% url "my_profile" %}">Profil</a></li>
                        <li><a href="{% url "inbox" %}">Mesajlar</a></li>
                     </ul>
                 {% if user.is_authenticated %}
                     <ul class="nav pull-right">
                         <li><a href="{% url "logout" %}">Çıkış</a></li>
                       </ul>
                 {% else %}
                     <ul class="nav pull-right">
                         <li><a href="{% url "login" %}">Giriş</a></li>
                       </ul>
                 {% endif %}
                 </div><!-- /.nav-collapse -->
     </div>
   </div>
 </div>

    <div class="container">


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">
    <div class="span8">
      <h2>TeamsBook'a hoşgeldin.</h2>
      <p>Burada neler yapabilirsin... Arkadaş ol. Takımını takip et. Futbolla ilgili bütün haberler burada.</p>
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="#friends">Arkadaşlar</a></li>
      <li><a href="#teams">Takımlar</a></li>
      <li><a href="#groups">Gruplar</a></li>
    </ul>
  </div>
</header>

      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
        <h2>{% block title %}{% endblock %}</h2><br />
        {% if messages %}
          <div class="alert alert-info">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% block content %}{% endblock %}
        </div><!--/span-->
      </div><!--/row-->


     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
      </footer>

    </div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-1.7.1.min.js"></script>
    <script src="/static/js/jquery.smooth-scroll.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootswatch.js"></script>
    <script src="/static/js/application.js"></script>
    <script src="/static/js/bootswatch.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/holder.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/backbone.min.js"></script>
    <script src="/static/js/prettify.min.js"></script>
    <script src="/static/js/bootstrap-222.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
    $(document).ready(function(){
        $(document).scroll(function(){
            // If has not activated (has no attribute "data-top"
            if (!$('.subnav').attr('data-top')) {
                // If already fixed, then do nothing
                if ($('.subnav').hasClass('subnav-fixed')) return;
                // Remember top position
                var offset = $('.subnav').offset()
                $('.subnav').attr('data-top', offset.top);
            }

            if ($('.subnav').attr('data-top') - $('.subnav').outerHeight() <= $(this).scrollTop())
                $('.subnav').addClass('subnav-fixed');
            else
                $('.subnav').removeClass('subnav-fixed');
        });
    });
    </script>
  </body>
</html>
