<div class="grid3 first login_group">
	<form method="post" action="{% url user_login %}">
	{% csrf_token %}
    <p><label for="id_username">Kullanıcı adı:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
<p><label for="id_password">Şifre:</label> <input type="password" name="password" id="id_password" /></p>
<p><label for="id_remember_me">Beni Hatırla:</label> <input type="checkbox" name="remember_me" id="id_remember_me" /></p>
</div>
<!--
<div class="grid3 login_fb">
    <ul>
       <li class="facebook"><a href="{% url socialauth_begin 'facebook' %}">Facebook ile giriş yap</a></li>
       <li class="twitter"><a  href="{% url socialauth_begin 'twitter' %}">Twitter ile giriş yap</a></li>
       <li class="linkedin"><a  href="{% url socialauth_begin 'linkedin' %}">Linkedin ile giriş yap</a></li>
    </ul>
</div>
-->
