<div class="grid3 first login_group emailAuth hidden">
    <form method="post" id="reg_form" action="{% url registration_register %}">
	{% csrf_token %}
	<div class="control-group">
    	<label for="id_username">Kullanıcı Adı</label>
		<div class="controls">
			<input id="id_username" type="text" name="username" maxlength="30" />
		</div>
	</div>
	<div class="control-group">
    	<label for="id_email">E-posta Adresi</label>
		<div class="controls">
			<input id="id_email" type="text" name="email" maxlength="30" />
		</div>
	</div>
    <div class="control-group">
    	<label for="id_password1">Parola</label>
		<div class="controls">
			<input type="password" name="password1" id="id_password1" />
		</div>
    </div>
    <div class="control-group">
    	<label for="id_password2">Parola (tekrar)</label>
		<div class="controls">
			<input type="password" name="password2" id="id_password2" />
		</div>
    </div>
    </form>
</div>
<div class="grid6 sm smSplash">
    <ul>
      <li class="facebook"><a href="{% url socialauth_begin 'facebook' %}">Facebook ile kayıt ol</a></li>
      <li class="twitter"><a  href="{% url socialauth_begin 'twitter' %}">Twitter ile kayıt ol</a></li>
      <li class="linkedin"><a  href="{% url socialauth_begin 'linkedin' %}">Linkedin ile kayıt ol</a></li>
    </ul>
    <div id="emailAuthDesc">ya da uzun yoldan <a class="emailAuth" href="#emailAuth">e-posta adresinle üye ol</a>...</div>
</div>
